<header class="navbar navbar-fixed-top navbar-inverse">
  <% if user_signed_in? %>
    <div class="container">
      <%= link_to "Flight Booking", authenticated_root_path, id: "logo" %>
      <nav>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Home", authenticated_root_path %></li>
          <li><%= link_to "Logout", destroy_user_session_path, method: :delete, data: { no_turbolink: true } %></li>
        </ul>
      </nav>
    </div>
  <% else %>
    <div class="container">
      <%= link_to "Flight Booking", unauthenticated_root_path, id: "logo" %>
    </div>
  <% end %>
</header>
